<!DOCTYPE>
<html>
<head>
  <title>MongoMate</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <style type="text/css">
  body {
    padding-top:60px;
  }
  footer {
    margin-top:20px;
    padding:10px;
    text-align:center;
    border-top: 1px solid #eee;
    font-size: 12px;
  }
  </style>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">MongoMate</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span2">
        <h4>database:</h4>
        <a class="btn{{#if dbName}} {{else}} disabled{{/if}}"  href="/db/{{dbName}}/">
          {{#if dbName}}{{dbName}}{{else}}none{{/if}}
        </a>
        <h4>collection:</h4>
        <a class="btn{{#if collectionName}} {{else}} disabled{{/if}}"  href="#">
          {{#if collectionName}}{{collectionName}}{{else}}none{{/if}}
        </a>
      </div>
      <div class="span10">
        {{{body}}}
      </div>
    </div>

    <footer>
      <p><a href="https://github.com/bencevans/mongomate">MongoMate</a> is an open source project by <a href="http://bensbit.co.uk">Ben Evans</a>.</p>
    </footer>
  </div>
</body>
</html>